SESSION=
PREFIX=.
YOUR_NUMBER=2347045505096
MODE=private
WARNINGS=
YOUR_NAME=LordLay
ANTICALL=
ANTIDELETE=
AUTO_REACTION=
AUTO_READ_STATUS=
AUTO_LIKE=
AUTO_READ_DM=
HEROKU_API_KEY=
HEROKU_APP_NAME=
PRESENCE_DM=
PRESENCE_GROUP=
YOUR_LID=
timezone=Nigeria/Lagos
ALIVE_URL=
